* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-part {
  width: 100%;
  height: 5vh;

  background-color: rgb(225, 215, 255);

  display: flex;
  align-items: center;

  margin-bottom: 25px;
}

.top-part p {
  font-size: 4.5vh;
  margin-left: 3vh;
}

.top-part input[type="text"] {
  font-size: 2vh;
  height: 3.5vh;

  margin-left: 5vh;

  width: 50vh;

  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-512.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 2.5vh 2.5vh;
  padding-left: 40px;
}

.top-part img {
  height: 4vh;
  margin-left: 10px;
}

.add-note-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /* margin: auto; */
  height: auto;
  width: 75vh;
  margin: 20px auto;

  border: 2px solid rgb(209, 204, 224);
  background-color: rgb(225, 215, 255);
}

.add-note-input textarea[type="text"] {
  font-size: 2vh;

  height: 3.5vh;
  width: 50vh;

  resize: none;

  border: none;
  background-color: rgb(225, 215, 255);
  margin: 10px;
}

.add-note-input textarea[type="text"]:focus,
.title-input:focus {
  border: none;
  outline: none;
}

.title-input {
  font-size: 2.5vh;

  height: 3.5vh;
  width: 50vh;

  border: none;
  background-color: rgb(225, 215, 255);
  margin: 10px;
}

.buttons,
.modal-note .edits {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.save-button,
.modal-note button {
  border-radius: 5px;
  cursor: pointer;
  height: 3vh;
  width: 7vh;
}

.color-input,
.modal-note input[type="color"] {
  border-radius: 5px;
  height: 3vh;
  width: 7vh;
  margin: none;
}

.image-input,
.modal-note input[type="file"] {
  height: 3vh;
  width: 9.5vh;
}

.image-preview,
.modal-note img {
  width: 50vh;
  height: auto;
  margin-bottom: 10px;
}

.added-note {
  width: 30%;
  height: fit-content;
  padding: 10px;

  margin-top: 10px;
  margin-left: 10px;
}

.added-note h2,
h3 {
  word-break: normal;
}

.added-note h3 {
  font-weight: normal;
}

.added-note img {
  width: 100%;
  height: auto;
}

.notes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blur {
  filter: blur(3px);
  pointer-events: none;
}

.modal-note {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
}

.modal-note textarea {
  resize: none;
  border: none;
  outline: none;

  font-size: large;
  width: 90%;
}
