* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-part {
  width: 100%;
  height: 5vh;

  background-color: rgb(225, 215, 255);

  display: flex;
  align-items: center;

  margin-bottom: 25px;
}

.top-part p {
  font-size: 4.5vh;
  margin-left: 3vh;
}

.top-part input[type="text"] {
  font-size: 2vh;
  height: 3.5vh;

  margin-left: 5vh;

  width: 50vh;

  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-512.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 2.5vh 2.5vh;
  padding-left: 40px;
}

.top-part img {
  height: 4vh;
  margin-left: 10px;
}

.add-note-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: auto;
  height: auto;
  width: 75vh;

  border: 2px solid rgb(209, 204, 224);
  background-color: rgb(225, 215, 255);
}

.add-note-input textarea[type="text"] {
  font-size: 2vh;

  min-height: 3.5vh;
  min-width: 50vh;

  max-height: 3.5vh;
  max-width: 50vh;

  border: none;
  background-color: rgb(225, 215, 255);
  margin: 10px;
}

.add-note-input textarea[type="text"]:focus,
.title-input:focus {
  border: none;
  outline: none;
}

.title-input {
  font-size: 2.5vh;

  height: 3.5vh;
  width: 50vh;

  border: none;
  background-color: rgb(225, 215, 255);
  margin: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.save-button {
  border-radius: 5px;
  cursor: pointer;
  height: 3vh;
  width: 7vh;
}

.color-input {
  border-radius: 5px;
  height: 3vh;
  width: 7vh;
  margin: none;
}

.image-input {
  height: 3vh;
  width: 9.5vh;
}
